.header {
   padding: 24px 0;
}

.header__container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header__logs {
   flex:  66%;
   display: flex;
   align-items: center;
   justify-content: space-between;

   &:hover {
      opacity: 0.8;
   }

   &:active {
      opacity: 0.5;
   }
}

.header__logo-mobile1 {
   display: inline-block;
}

.header__logo-mobile2 {
   display: inline-block;
}

.header__logo-tablet {
   margin: 0 100px 0 0;
}